/* commentaire développeur*/
body {
  background-color: white;
  font-family: "Open Sans", sans-serif;
  padding: 5px 25px;
  font-size: 0.8em; /*14px;*/
  margin: 0;
  color: #444;
}

h2,h3 {
  color: red;
  font-family: "Merriweather", serif;
  font-size: 1em; /*12px;*/
  text-align: center;
}

.elements {
  text-align: center;
}

.marge { 
  /*  outline: solid 1px;
    align-self: center; décalé sur tablette*/
}

ul,p:hover {
  cursor: pointer;
}

label {
  /*  font-size: 1em; 14px;*/
    color: blue;   
}

.cadreglobal {
  display: flex;
  flex-direction: row;
}

.cadregauche {
  overflow: auto;
  text-align: center;
  height: 950px;
  background: rgb(240,240,240);
  flex: 0 0 15%;
  /*flex: 0 0 200px;*/
}
.cadregauchevertical {
  display: flex;
  flex-direction: column;
}
.cadregaucheverticalhaut {
  text-align: center;
  background: rgb(240,240,240);
  flex: 0 0 200px;
}
.cadregaucheverticalcentre {
  overflow: auto;
  text-align: center;
  background: rgb(240,240,240);
  flex: 0 0 400px;
}
.cadregaucheverticalbas {
  text-align: center;
  background: rgb(240,240,240);
  flex: 0 0 50px;
}

.cadrecentre {
   text-align: center;
   flex: 0 0 15%;
   /*flex: 0 0 250px;*/
}

.cadredroite {
    flex: 1 1 auto;
}

.cadrevertical {
  border: 1px solid gray;
}

canvas {
  position: absolute;
}

#canvasTarget {
  position: relative;
}

table {
  table-layout: auto;
  width: 100%;
  border-collapse: collapse;
  border: 1px solid gray;
  text-align: center;
}

th, td {
  border: 1px solid black;
}

.tabcell {
  border-style: none;
}

.thead {
  text-align: center; 
  /*background-color: rgb(240,240,240);*/
  height: 25px;
}

header, footer {
  display: block;
  margin: 4px;
  padding: 5px;
  min-height: 100px;
  border: 1px solid #eebb55;
  border-radius: 7pt;
  background: #ffeebb;
}
        
.clearfix {
  clear: both;
}

.nombres {
  width: 4em;
  cursor: pointer;
}

.nombres0 {
  width: 3.4em;
  cursor: pointer;
}

.nombresmini {
  width: 1em;
  cursor: pointer;
}

.dates {
  width: 10em;
}

.heures {
  width: 7em;
}

.option {
  width: 5em;
  font-size: 1.3em;
} 

/* Selects any invalid <input> */
input:invalid {
 /* background-color: pink;*/
  border: 2px dashed red;
}
/* Selects any valid <input> */
/*input:valid {
  background-color: powderblue;
}*/

/* This is the style of our error messages */
.error {
  color: red;
}

/*.error.active {
  padding: 0.3em;
}*/
